<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h2>Welcome to HyperJob!</h2>
<p></p>
<div>
    <ul>
        <li><a target="_blank" href="/login">Login Page</a></li>
        <li><a target="_blank" href="/signup">Sign Up Page</a> </li>
        <li><a target="_blank" href="/vacancies">Vacancies list</a> </li>
        <li><a target="_blank" href="/resumes">Resumes list</a> </li>
        <li><a target="_blank" href="/home">Personal Profile</a> </li>
    </ul>
</div>
</body>
</html>